/target
/program/target/
/script/target/
/prove/target/
/nonce_*
/aligned_verification_data/
/prove/proof.bin
/game/target/
/contracts/cache/solidity-files-cache.json
/contracts/out/
/contracts/cache/
